body {
    font-family: Arial, sans-serif;
    font-size: 16px;
    margin: 20px;
    padding: 20px;
    background-color: #f9f9f9;
    display: flex; /* Mantém o flex para centralizar o formulário */
    justify-content: center; /* Centraliza horizontalmente */
    align-items: flex-start; /* Alinha os itens no início verticalmente */
    min-height: 100vh;
    flex-direction: column; /* Adiciona para organizar os filhos em coluna */
}

h1 {
    font-weight: bold;
    color: #333;
    font-size: 16px;
    text-align: center;
    width: 100%; /* Garante que os títulos ocupem a largura total */
    margin-bottom: 15px; /* Adiciona margem abaixo dos títulos */
}

h4 {
    font-weight: bold;
    color: #333;
    font-size: 16px;
    text-align: center;
    width: 100%; /* Garante que os títulos ocupem a largura total */
    margin-bottom: -33px; /* Adiciona margem abaixo dos títulos */
}

ul {
    list-style-type: square;
    padding-left: 20px;
}

label {
    display: block;
    margin: 0;
    font-weight: 500;
    text-align: left;
}

form {
    text-align: left;
    background-color: #fff;
    padding: 0px 30px 30px;
    border-radius: 12px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border: 1px solid #ccc;
    width: 60%;
    max-width: 642px;
    margin: 40px auto; /* Centraliza o formulário */
}

input[type="text"],
input[type="email"] {
    font-size: 16px;
    padding: 8px;
    margin-top: 3px;
    display: block;
    width: calc(100% - 16px);
    border: 1px solid #ddd;
    border-radius: 4px;
    box-sizing: border-box;
}

input[type="checkbox"] {
    margin-right: 5px;
}

button {
    font-size: 16px;
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 4px;
    margin-top: 20px;
    width: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

button:hover {
    background-color: #0056b3;
}

input[type="checkbox"]:checked {
    accent-color: green;
}

.completed {
    accent-color: green !important;
}

/* Media query para telas maiores (notebooks e desktops) */
@media screen and (max-width: 768px) {
   
    form {
        padding: 20px;
        margin: 0px auto;
        border-radius: 8px;
        width: 93%;
       
        
    }

    input[type="text"],
    input[type="email"] {
        padding: 10px;
    }

    button {
        padding: 12px 25px;
    }

    h1, h2 {
        font-size: 20px;
    }
}

/* Media query para telas ainda maiores (monitores grandes) */
@media screen and (min-width: 1200px) {
    h1, h2 {
        font-size: 22px;
    }
   
    form {
        padding: 20px;
        margin: 0px auto;
        border-radius: 8px;
        width: 90%;
       
        
    }
    
}

/* Media query para telas menores (smartphones) */
@media screen and (max-width: 600px) {
    body {
        margin: 10px;
    }

    form {
        padding: 20px;
        margin: 0px auto;
        border-radius: 8px;
        width: 86%;
       
        
    }

    h1 {
        font-size: 16px;
    }

    h4 {
        font-weight: bold;
        color: #333;
        font-size: 16px;
        text-align: center;
        width: 100%; /* Garante que os títulos ocupem a largura total */
        margin-bottom: 3px; /* Adiciona margem abaixo dos títulos */
    }

    label {
        font-size: 14px;
        margin: 6px 0;
    }

    input, button {
        font-size: 14px;
        padding: 6px;
    }

    button {
        padding: 8px 15px;
        margin-top: 15px;
    }
}